<%= form_with(model: parking_lot_status, local: true) do |form| %>
  <% if parking_lot_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking_lot_status.errors.count, "error") %> prohibited this parking_lot_status from being saved:</h2>

      <ul>
      <% parking_lot_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lot_status_refno %>
    <%= form.number_field :lot_status_refno %>
  </div>

  <div class="field">
    <%= form.label :lot_status_code %>
    <%= form.text_field :lot_status_code %>
  </div>

  <div class="field">
    <%= form.label :lot_status_description %>
    <%= form.text_field :lot_status_description %>
  </div>

  <div class="field">
    <%= form.label :isactive %>
    <%= form.check_box :isactive %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
