<p id="notice"><%= notice %></p>

<p>
  <strong>Lot detail refno:</strong>
  <%= @parking_lot_dtl.lot_detail_refno %>
</p>

<p>
  <strong>Lot hdr refno:</strong>
  <%= @parking_lot_dtl.lot_hdr_refno %>
</p>

<p>
  <strong>Lot dtl description:</strong>
  <%= @parking_lot_dtl.lot_dtl_description %>
</p>

<p>
  <strong>Entrance refno:</strong>
  <%= @parking_lot_dtl.entrance_refno %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @parking_lot_dtl.distance %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @parking_lot_dtl.isactive %>
</p>

<%= link_to 'Edit', edit_parking_lot_dtl_path(@parking_lot_dtl) %> |
<%= link_to 'Back', parking_lot_dtls_path %>
